# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Some of the popular languages that Data Scientists use are:<b>

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Julia</li>
</ol>

<b>Some of the commonly used libraries used by Data Scientists include:<b>

<ol>
    <li>TensorFlow</li>
    <li>NumPy</li>
    <li>PyTorch</li>
    <li>Pandas</li>
</ol>

<b>Data Science Tools<b>

| Data Science Tools |
| -------------|
| MongoDB |
| Apache SparkSQL |
| TensorFlow |</tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [31]:
# This a simple arithmetic expression to mutiply then add integers
eval = (3*4)+5
print(eval)
print(eval==17)

17
True

In [33]:
# This will convert 200 minutes to hours by diving by 60
print(200 / 6)

33.333333333333336

**Objectives:** List popular languages for Data Science.
- Python
- R
- SQL

## Author
Aaditya